* {
  font-family: Courier;
}

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}
@-ms-viewport {
  width: device-width ;
}

h1 {
  color: #ffb655;
}
p {
  color: red;
}
img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}
h6 {
    display: block;
    font-size: 1em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0.5px;
    margin-inline-end: 0.5px;
    font-weight: bold;
}
.btn {
  background-color: #ffb655;
}
.centered {
  text-align: center;
}

.border {
  border: 5px solid #6a5232;
}



body {
  background: #ccc;
  padding: 20px;
}

#page-footer {
  color: #2d2821;
}
@media screen and (max-width:736px) {
  body {
    background-color: rgb(142, 106, 226);
  }
  .imageContainer {
      position: relative;
      width: 100%;
      padding-bottom: 100%;
      height: 0;
  }
  .nameContainer {
      font-weight:900;
      color:#fcedc4;
      position: relative;
      width: 100%;
      padding-bottom: 25%;
      height: 0;
  }
  .name {
    width: 100%;
    height: 50%;
    position: relative;
    font-size: 3em;
    text-align: center;
    left: 0;
}
.btn-link {
  text-align: center;
  font-size: 2em;
  width: 100%;
  height: 50%;
}

@media screen and (min-width:736px) {
  body {
    background-color: powderblue;
  }
  .imageContainer {
      position: relative;
      width: 25%;
      padding-bottom: 25%;
      float: left;
      height: 0;
  }
  .nameContainer {
      /* font-weight:900; */
      color:#fcedc4;
      position: relative;
      width: 75%;
      padding-bottom: 25%;
      height: 0;
  }
  .name {
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 200%;
    left: 0;
}
